{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Historial Medico</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    <div class="container">
            <div class="row">
                <div class="col-md-5 offset-md-4"> <!--offset-md-4 es para centrar el formulario y que se vea mas grande-->
                    <h1 class="display-6 fw-bold">Historial Medico</h1> <!--display-6 es para darle un tamaño al titulo-->
    <form action="{% url 'crear_registros' %}" method="POST" class="card card-body bg-secondary"> <!--esto se extrae de urls.py-->
        {% csrf_token %}
        <label for="Nombre">Ingrese el nombre</label> <!--aca se ingresa el nombre-->
        <input type="text" name="Registro" placeholder="Escribe un nombre" class="from-control mb-2"> <!--mb-2 es para darle un marge de separacion-->
        <label for="descripcion">Ingrese la observacion</label> <!--aca se ingresa la descripcion de la tarea-->
        <textarea name="descripcion" rows="5" placeholder="Escriba la observacion" class="form-control mb-2"></textarea> <!--rows="3" es para darle un tamaño a la caja de texto-->
        <button class="btn btn-success">Guardar</button> <!--boton para guardar la tarea se le puede agregar un estilo cambiando lo que esta dentro de las comillas-->
    </form>

    {% for Registro in registros %} <!--aca se muestra el registro que se ingreso-->
                    <div class="list-group">
                        <div class="card card-body bg-secondary text-light d-flex flex-row justify-content-between mt-2">
                            <h3>{{Registro.nombre}}</h3> <!--aca se muestra el titulo de cada registro-->
                            <p>{{Registro.descripcion}}</p> <!--aca se muestra la descripcion de cada diagnostico-->
                        </div>
                        <form action="{% url 'editar_registros' Registro.id %}" method="POST">
                            {% csrf_token %}
                            <button class="btn btn-warning">Editar</button>
                        </form>
                        <form action="{% url 'eliminar_registros' Registro.id %}" method="POST"> <!--esto se extrae de urls.py-->
                            {% csrf_token %}
                            <button class="btn btn-danger">Eliminar</button>
                        </form>
                     </div>
                    <div>
                        {% empty %}
                        <h1 class="text-light">No hay historial</h1>
                    </div>
    {% endfor %}
                </div>
            </div>
    </div>
</body>
</html>