::-webkit-scrollbar {
    display: none;
}
.image-background {
    width: 100wh;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-image: url('assets/mano.png')
}

body {
    font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
}

h1, p {
    font-family: 'Nunito Sans', sans-serif;
  font-size: 45px;
}

.title-boxes{
    text-align: center;
    border: 1px solid #4e5359;
    border-radius: 10px;
    background: #6c757d linear-gradient(to top, #9c9c9c, #d9d9d9);
}

.card{
    background: linear-gradient(to left, #9c9c9c, #d9d9d9);
}

.table-titles{
    border: 1px solid black;
    text-align: center;
}

th{
    border: 1px solid black;
}

.table-body{
    border: 1px solid black;
}

tr:nth-child(even){
    background-color: #bdbdbd;
}

.btn-success{
    border: 1px solid #0b6644;
    background: linear-gradient(to top, #3c8139, #69bf66);
}

.btn-success:hover{
  background:#69bf66;
  color:black;
}

.btn-warning{
    background: linear-gradient(to top, #c49302, #ffc107);
    border: 1px solid #c49302;
    color: white;
}

.btn-warning:hover{
    linear-gradient(to top, #ffc107, #ffd454);
    background:#ffd454;
    color:black;
}

.btn-danger{
    background: linear-gradient(to top, #a8164c, #d73f4e);
    border: 1px solid #a8164c;
}

.btn-danger:hover{
    background: linear-gradient(to top, #d73f4e, #f46f6f);
    border: 1px solid #a8164c;
    color: black;
}


.navBar {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 0 35px black;
}
.navBar img {
    height: 100%;
    z-index: 1;

}


.empty{
    text-align: center;
}


.text-light{
    text-align: center;
}


footer {
    height: 5%;
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 16px;
    justify-content: center;
    background-color: black;
    box-shadow: 0 0 35px black;
}


footer h6 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 14px;
    color: #e81557;
}

