{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Health Secure</title>
        <link rel="stylesheet" href="../static/style.css" />
        <link rel="shortcut icon" href="../static/Logotipo.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap" rel="stylesheet">
        <!-- Carga de archivos estáticos -->
    </head>
    <body>
        <!-- Barra de navegación -->
        <nav class="navBar">
            <img
                src="../static/assets/IsoLogotipo.png"
                alt=""
            />
        </nav>
    <!-- Barra decorativa superior -->
    <div class="decorativeBarTop"></div>
        <!-- Sección principal -->
        <main class="mainSection">
            <!-- Contenedor de texto -->
            <div class="textContainer">
                <p>
                    Health Secure™ es un sistema básico creado con la finalidad
                    de ayudar a profesionales de la salud, en el registro de
                    historiales clínicos de pacientes. Permite leer, añadir,
                    editar y borrar los datos ingresados en tiempo real.
                </p>
                <!-- Tabla de integrantes del grupo -->
               <table class="tablaIntegrates">
                   <!-- Encabezado de la tabla -->
                   <thead class="titleTable">
                  <tr>
                     <th>#</th>
                     <th>Integrantes del grupo</th>
                </tr>
                  </thead>
                   <!-- Datos de los integrantes del grupo -->

                   <thead class="names">
                <tr>
                  <th>1</th>
                  <th>Barra, Mauricio</th>
                </tr>
                <tr>
                  <th>2</th>
                  <th>Choquevillca, Tania</th>
                </tr>
                <tr>
                  <th>3</th>
                  <th>Herrera, Osman</th>
                </tr>
                <tr>
                  <th>4</th>
                  <th>Lopez, Andrés</th>
                </tr>
                <tr>
                  <th>5</th>
                  <th>Patané, Valentino</th>
                </tr>
                <tr>
                  <th>6</th>
                  <th>Reinoso, Agustín</th>
                </tr>
                <tr>
                  <th>7</th>
                  <th>Rinaldi, Lucas</th>
                </tr>
                <tr>
                  <th>8</th>
                  <th>Sgandurra, Nicolás</th>
                </tr>
                   </thead>
              </table>
            </div>
            <!-- Contenedor de botones -->
            <div class="buttonContainer">
                <!-- Enlace para ver los historiales -->
                <a href="registros">Ver Historiales</a>
                <!-- Imagen -->
                <img
                    src="../static/assets/family.png"
                    alt=""
                />
            </div>
        </main>
        <!-- Barra decorativa inferior -->
        <div class="decorativeBarBot"></div>

        <!-- Pie de página -->
        <footer>
            <h6>
                Grupo Primates - Tecnicatura Universitaria en Programación UTN -
                2023 ©
            </h6>
        </footer>
    </body>
</html>
